<%= form_with(model: track, local: true) do |form| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% album = Album.find_by(id: track.album_id) %>
  <% tracks = Track.where(album_id: album.id)%>

  <p>
    Track Number:
    <%= tracks.count + 1 %>
  </p>

  <br>

  <p class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>

  <input type="hidden" name="track[album_id]" value="<%= album.id %>">
  <input type="hidden" name="track[ord]" value="<%= tracks.count + 1 %>">

  <p class="field">
    <%= form.label :lyrics %>
    <%= form.text_area :lyrics %>
  </p>


  <p class="field">
    <%= form.label :bonus %>
    <%= form.check_box :bonus %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
