<p id="notice"><%= notice %></p>

<h1 class='page-header'>
  <% if @track.bonus %>
    Bonus 
  <% end %>
  Song:
  <%= @track.name %>
</h1>

<h4 class='sub-header'>
  Album:
  <% aname = Album.find_by(id: @track.album_id)%>
  <%= aname.name %>
</h4>

<h3 class='sub-header'>
  Ord:
  <%= @track.ord %>
</h3>

<div>
  <h3 class='sub-header'>Lyrics:</h3>
  <%= ugly_lyrics(@track.lyrics) %>
</div>

<%= render "notes/form", track: @track %>

<h3 class='sub-header'>Notes</h3>

<% @track.notes.each do |note| %>
  <%= render "notes/note", note: note %>
<% end %>

<h4 class='sub-header'>Links</h4>
<ul class='page-links'>
  <li class='button'><%= link_to 'Edit Track', edit_track_path(@track) %></li>
  <li>
    <form action="<%= track_url(@track) %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Destroy Track">
    </form>
  </li>
  <li class='button'><%= link_to 'Back to Album', album_url(@track.album) %></li>
</ul>
