<p id="notice"><%= notice %></p>

<h1 class='page-header'>
  <strong>Name:</strong>
  <%= @track.name %>
</h1>

<p>
  <strong>Album:</strong>
  <% aname = Album.find_by(id: @track.album_id)%>
  <%= aname.name %>
</p>

<p>
  <strong>Ord:</strong>
  <%= @track.ord %>
</p>

<% if @track.bonus %>
  <p>
    <strong>Bonus</strong>
    <%= @track.bonus %>
  </p>
<% end %>

<p>
  <strong>Lyrics:</strong>
  <%= ugly_lyrics(@track.lyrics) %>
</p>

<%= render "notes/form", track: @track %>

<h3 class='sub-header'>Notes</h3>

<% @track.notes.each do |note| %>
  <%= render "notes/note", note: note %>
<% end %>

<h4 class='sub-header'>Links</h4>
<ul class='page-links'>
  <li><%= link_to 'Edit Track', edit_track_path(@track) %></li>
  <li>
    <form action="<%= track_url(@track) %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="Destroy Track">
    </form>
  </li>
  <li><%= link_to 'Back to Album', album_url(@track.album) %></li>
</ul>
