<h1 class='page-header'>
  <strong>Name:</strong>
  <%= @band.name %>
</h1>

<h3 class='sub-header'>Albums</h3>

<% if @band.albums.length > 0 %>
  <ul class='main-list'>
    <% @band.albums.each do |album| %>
      <li><a href="<%= album_url(album) %>"><p><%= album.name %></p></a></li>
    <% end %>
  </ul>
<% else %>
  <p>No albums posted yet.</p>
<% end %>
<h4 class='sub-header'>Links</h4>
<ul class='page-links'>
  <li><a class='button' href="<%= new_band_album_url(@band) %>">New</a></li>
  <li class='button'><%= link_to 'Edit', edit_band_path(@band) %></li>
  <li class='button'><%= link_to 'Back', bands_path %></li>
</ul>
